@import "../../_base.scss";
.singletask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
    background: $primary;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    p {
        color: #fdfdfd;
    }
}
